@model LibraryApp.Web.Models.Book[]
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
    <html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>Library</title>
    </head>
    <body>
    <div class="container-fluid d-flex flex-column p-5 m-3 align-items-center justify-content-center">
        <div class="row p-5">
            <div class="col-12 p-2 m-3 mb-12" style="max-width:500px;">
                <ol>          
                    @foreach (var book in Model)
                    {                          
                        <li>
                            <h3>@book.Title</h3>
                            <h5>@book.Author</h5>
                            <p>@book.Description</p>
                        </li>  
                    }
                </ol>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-dark p-2" href="/create">Add Book</a>
                </div>
                
            </div>
        </div>
    </div>
        <footer class="container-fluid bg-dark text-white py-3 text-center mt-auto p-5">
            &copy; 2025 LibraryApp. Alla rättigheter förbehållna.
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>
